@import "variables";

@media screen and (min-width: 800px) {
  header {
    h1 {
      margin-bottom: 14vh;
    }
    img {
      align-self: center;
      width: 1%;
      left: 0;
      height: 12vh;
    }

    .nav-menu {
      display: flex;

      ul {
        display: flex;
        position: absolute;
        list-style-type: none;
        top: 0;
        right: 0;

        li {
          margin: 1rem 2rem;
          font-size: 0.5em;
          font-family: $fontFamily;
          :hover {
            border-radius: 10px;
            background-color: $white;
            color: $veryDarkDesaturatedBlue;
            font-weight: bold;
          }
          a {
            padding: 0.2vw 0.5vw;
          }
        }
      }
    }

    .icon {
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 800px) {
  .section-box {
    display: flex;
    flex-direction: column;
    text-align: start;

    .box-1,
    .box-3 {
      height: 100vh;
    }

    .row-1 {
      display: flex;
      flex-direction: row-reverse;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .box-2 {
        text-align: start;
        justify-content: center;

        h2 {
          padding: 0 15%;

          font-size: 3rem;
        }
        p {
          padding: 0 15%;
        }

        h3 {
          padding: 0 15%;
        }
      }
    }

    .row-2 {
      display: flex;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: 0;
      }
      .box-4 {
        text-align: start;
        justify-content: center;

        h2 {
          padding: 0 15%;

          font-size: 3rem;
        }
        p {
          padding: 0 15%;
        }

        h3 {
          padding: 0 15%;
        }
      }
    }

    .row-3 {
      display: flex;
      article {
        width: 50vw;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 20vh;
        }

        p {
          padding: 0 10%;
          margin-top: 10vh;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .section-testimonial {
    h2 {
      font-size: 2rem;
    }
    .container {
      margin: 3vh 0;
      display: flex;
      flex-direction: row;
      .testimonial-box {
        padding: 5%;
        width: 1/3;
        height: auto;

        p {
          margin-bottom: 10vh;
        }

        img {
          border-radius: 50%;
          width: 25%;
          height: auto;
        }

        .thomas {
          width: 22%;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      margin: 0 auto;
      img {
        height: 2vw;
      }
    }

    .menu-list {
    width: 50%;
    
      ul {
        font-family: $fontFamily;
        font-size: $bodyFontSize;
        font-weight: $fontFamilyWeight;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        li {
          width: 100%;
          text-align: center;
          text-decoration: none;
          :hover {
            color: white;
          }
        }
      }
    }
    .social-list {
      width: 30vw;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
          text-align: center;
        }
      }
    }
  }

  .svg-white:hover {
    fill: white;
  }
}
